html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  width: 150px;
  font-size: 18px;
  margin-top: 5px;
}

mat-hint span {
  color: red;
}

.error {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
